/* || RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* || VARIABLE */
:root {
    /* COLOR */
    --XDARKCO: #190019;
    --DARKCO: #2b124c;
    --XWARMCO: #522b5b;
    --WARMCO: #854f6c;
    --XLIGHTCO: #DFB6B2;
    --LIGHTCO: #fbe4d8;
    --SLIGHTCO: whitesmoke;
    --HIGHLIGHT: #ff4500;
    --BPGRADIENT: #a2d4f1, #fbc2eb;

    /* FONT */
    --FS-XXL: clamp(3rem, 6vh, 5rem);
    --FS-XL: clamp(2.25rem, 4vh, 3rem);
    --FS: clamp(18px, 3vh, 2.25rem);
    --FS-SM: clamp(15, 2vh, 1.5rem);
    --FF: berkshire swash, cursive, sans-serif;
    --HFF: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    /* BORDER */
    --BORDER-BOTTOM: 3px solid white;
    --DOUBLE: 15px double whitesmoke;
}

/* || UTILITY CLASS */
.nobreak {
    white-space: nowrap;
}

.up {
    text-transform: uppercase;
}

.clip {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(360deg, var(--WARMCO), var(--XDARKCO));
    color: hsla(0, 0%, 0%, 0.2);
}

.hover {
    cursor: pointer;
}

/* || GENERAL STYLES*/
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--LIGHTCO);
    background-image: radial-gradient(var(--SLIGHTCO), papayawhip);
    background-repeat: none;
    background-size: cover;
    font-family: var(--FF);
    min-height: 100vh;
    min-width: 98vw;
    position: relative;
}



/* GO TO TOP BUTTON */
.to-top {
    background-color: var(--HIGHLIGHT);
    bottom: 20px;
    display: grid;
    height: 80px;
    place-content: center;
    position: fixed;
    right: 0;
    width: 80px;
    z-index: 5;
}

.to-top h1 {
    display: inline-block;
    font-size: 60px;
}

a {
    color: var(--SLIGHTCO);
}

/* NAViGATION BAR */
.menu {
    background-color: var(--DARKCO);
    display: flex;
    flex-flow: row nowrap;
    max-height: 5vh;
    min-height: 80px;
    position: sticky;
    top: 0;
    z-index: 5;
}

.menu header {
    flex: 1;
    margin: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.menu header h1 {
    align-self: center;
    color: var(--LIGHTCO);
    display: inline-block;
}

nav,
.login {
    margin: 10px;
    text-transform: uppercase;
}

nav {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

ul li a,
ul p {
    color: var(--SLIGHTCO);
    display: inline-block;
    font-size: var(--FS);
    padding: 1rem;
    text-decoration: none;
}

ul li {
    display: inline-block;
    list-style: none;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: var(--SLIGHTCO);
    font-family: var(--FF);
    font-size: var(--FS);
    text-transform: uppercase;
}

.dropdown {
    display: inline-block;
    padding: 1rem;
    position: relative;
}

.dropdown-content {
    display: none;
    left: 0px;
    min-width: 15vw;
    position: absolute;
    text-transform: none;
    top: 62px;
    z-index: 3;
}

.dropdown-content a {
    background-color: var(--XWARMCO);
    color: var(--LIGHTCO);
    display: block;
    font-size: var(--FS-SM);
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: var(--WARMCO);
    color: var(--SLIGHTCO);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn,
li:hover {
    background-color: var(--XDARKCO);
    border-radius: 5px 5px 0 0;

}

.dropdown:hover,
li:hover {
    border-bottom: var(--BORDER-BOTTOM);
}

#Order {
    background-color: var(--HIGHLIGHT);
    border-radius: 10px 10px 0 0;
}

/* GO TO TOP BUTTON */
.to-top {
    background-color: var(--HIGHLIGHT);
    bottom: 20px;
    display: grid;
    height: 80px;
    place-content: center;
    position: fixed;
    right: 0;
    width: 80px;
    z-index: 5;
}

.to-top h1 {
    display: inline-block;
    font-size: 60px;
}

a {
    color: var(--SLIGHTCO);
}

/* SECTION */
section {
    scroll-margin-top: 5rem;
    min-height: 90vh;
}

.welcome {
    background-image: url('../Image/Career/cafeBg.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 40% 30%;
    grid-template-rows: 10% 40%;
    grid-template-areas:
        'box word'
        'box logo';
    place-content: center;
}

.formBox {
    background-color: rgba(25, 0, 25, 0.8);
    color: var(--SLIGHTCO);
    width: 35vw;
    height: 30vh;
    line-height: 2.5rem;
    margin-top: 10%;
    margin-left: 10%;
    display: grid;
    place-content: center;
    border: 10px double goldenrod;

    grid-area: box;
}

.formBox input[type=text] {
    background-color: var(--SLIGHTCO);
    border: none;
    border-radius: 10px 0 0 10px;
}

.formBox input[type=submit] {
    color: var(--SLIGHTCO);
    background-color: var(--HIGHLIGHT);
    border: none;
    border-radius: 0 10px 10px 0;
    width: 5vw;
}

.formBox input {
    height: 1.75rem;
}

.greeting {
    grid-area: word;
    margin-top: -15%;
    font-size: var(--FS-XXL);
    color: var(--SLIGHTCO);
    text-shadow: -2px 3px var(--XDARKCO);
}

.welcome img {
    grid-area: logo;
    margin-top: -10%;
    margin-left: 5%
}

.intro {
    background-image: url("../Image/Main/Sec2BG.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-content: center;
}

.header h1 {
    text-align: center;
    font-size: var(--FS-XXL);
    padding: 5% 0 2%;
    font-family: var(--HFF);
}

article p {
    text-align: justify;
    margin: 0 10%;
    font-size: var(--FS);
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 80vh;
    margin: 0 10%;
    border-radius: 10px;
    border: 5px solid goldenrod;
}

/* CARD */
.employ {
    padding: 5vw;
    background-image: radial-gradient(var(--BPGRADIENT));
    background-size: cover;
    background-repeat: no-repeat;

}

.topCard {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 5%;
}

.bottomCard {
    display: flex;
    justify-content: center;
}

.card {

    display: grid;
    place-content: center;
    max-width: 40vw;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 30% 50% 20%;
    column-gap: 5%;
    grid-template-areas: 'img h1 h1'
        'img p p'
        'img b1 b2';
}

.card img {
    grid-area: img;
}

.card h1 {
    grid-area: h1;
    font-size: var(--FS-XL);
    line-height: 2.5rem;
}

.card p {
    grid-area: p;
    text-align: justify;
}

.b1 {
    grid-area: b1;
}

.b2 {
    grid-area: b2;
}

.card button {
    background-color: var(--XDARKCO);
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: var(--SLIGHTCO);
    font-family: var(--FF);
    font-size: var(--FS-SM);
}

section header {
    display: flex;
    position: relative;
}

.benefit h1,
footer h1 {
    color: orangered;
    display: inline-block;
    font-family: var(--HFF);
    font-size: var(--FS-XXL);
    margin-left: 2rem;
    margin: 1rem;
    text-shadow: -2px 3px var(--XDARKCO);
    text-transform: uppercase;
}

.line {

    background-color: var(--XDARKCO);
    height: var(--FS);
    margin: 2rem 0;
    position: absolute;
    right: 0;
}

.benefit {
    background-image: url("../Image/Main/Sect1BG.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.benefit .line {
    width: 70%;
}

.cardHolder {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 5%;
}

.benefitCardContainer {

    border-radius: 5px;
    width: 20vw;
    height: 45vh;
}

.benefitCardContainer:hover>.benefitCard {
    transform: rotateY(180deg);
}

.benefitCard {
    background-image: linear-gradient(45deg, var(--BPGRADIENT));
    height: 100%;
    width: 100%;
    border: var(--DOUBLE);
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.frontCard,
.backCard {
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    place-content: center;
    backface-visibility: hidden;
}

.benefitCard figcaption,
.backCard h4 {
    text-align: center;
    font-size: var(--FS);
    font-weight: 700;
}

.backCard {
    transform: rotateY(180deg);
    padding: 10px;
}

.backCard p {
    color: var(--XDARKCO);
    margin-top: 5px;
    text-align: justify;
}

/* FOOTER */

footer {
    background-color: var(--XDARKCO);
}

footer .social {
    display: flex;
    flex-flow: row nowrap;
    gap: 5%;
    justify-content: center;
    padding-bottom: 20px;
}

.social img {
    border-radius: 5px;
}