* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* COLOR */
    --XDARKCO: #190019;
    --DARKCO: #2b124c;
    --XWARMCO: #522b5b;
    --WARMCO: #854f6c;
    --XLIGHTCO: #DFB6B2;
    --LIGHTCO: #fbe4d8;
    --SLIGHTCO: whitesmoke;
    --HIGHLIGHT: #ff4500;
    --BPGRADIENT: #a2d4f1, #fbc2eb;

    /* FONT */
    --FS-XXL: clamp(3rem, 6vh, 5rem);
    --FS-XL: clamp(2.25rem, 4vh, 3rem);
    --FS: clamp(18px, 3vh, 2.25rem);
    --FS-SM: clamp(15, 2vh, 1.5rem);
    --FF: berkshire swash, cursive, sans-serif;
    --HFF: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    /* BORDER */
    --BORDER-BOTTOM: 3px solid white;
    --DOUBLE: 15px double whitesmoke;
}

body {
    background-image: linear-gradient(180deg, rgb(255, 255, 241), rgb(245, 209, 255));
    background-repeat: none;
    background-size: cover;
    font-family: var(--FF)
}

form {
    border: var(--DOUBLE);
    background-image: linear-gradient(45deg, var(--BPGRADIENT));
    padding: 26px 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
    width: 30%;
    height: 30%;
    background-color: hsl(21, 81%, 92%, 30%);
    overflow: hidden;
}

input[type=email],
input[type=text],
input[type=password] {
    margin: 8px 0;
    padding: 16px 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(217, 134, 255, 0.5);
    background-size: 10px 10px;
    background-image: linear-gradient(270deg, rgba(232, 186, 253, 0.7), rgba(250, 183, 220, 0.7));
    border-radius: 10px;
}

input::placeholder {
    color: var(--DARKCO);
}

input[type=submit] {
    background-color: #2b124c;
    color: #fbe4d8;
    width: 100%;
    border: none;
    margin: 10px 0;
    padding: 14px 0;
    cursor: pointer;
}

input[type=reset] {
    width: 100%;
    border: none;
    margin: 10px 0;
    padding: 14px 0;
    cursor: pointer;
}

.logo {
    margin-top: 3%;
    text-align: center;
    color: #190019;
}

/* NAVIGATION BAR */
.menu {
    background-color: var(--DARKCO);
    display: flex;
    flex-flow: row nowrap;
    max-height: 5vh;
    min-height: 80px;
    position: sticky;
    top: 0;
    z-index: 5;
}

.menu header {
    flex: 1;
    margin: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.menu header h1 {
    align-self: center;
    color: var(--LIGHTCO);
    display: inline-block;
}

nav,
.login {
    margin: 10px;
    text-transform: uppercase;
}

nav {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

ul li a,
ul p {
    color: var(--SLIGHTCO);
    display: inline-block;
    font-size: var(--FS);
    padding: 1rem;
    text-decoration: none;
}

ul li {
    display: inline-block;
    list-style: none;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: var(--SLIGHTCO);
    font-family: var(--FF);
    font-size: var(--FS);
    text-transform: uppercase;
}

.dropdown {
    display: inline-block;
    padding: 1rem;
    position: relative;
}

.dropdown-content {
    display: none;
    left: 0px;
    min-width: 15vw;
    position: absolute;
    text-transform: none;
    top: 62px;
    z-index: 3;
}

.dropdown-content a {
    background-color: var(--XWARMCO);
    color: var(--LIGHTCO);
    display: block;
    font-size: var(--FS-SM);
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: var(--WARMCO);
    color: var(--SLIGHTCO);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn,
li:hover {
    background-color: var(--XDARKCO);
    border-radius: 5px 5px 0 0;

}

.dropdown:hover,
li:hover {
    border-bottom: var(--BORDER-BOTTOM);
}

#Order {
    background-color: var(--HIGHLIGHT);
    border-radius: 10px 10px 0 0;
}