* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* BORDER */
    --BORDER-BOTTOM: 3px solid white;

    /* COLOR */
    --XDARKCO: #190019;
    --DARKCO: #2b124c;
    --XWARMCO: #522b5b;
    --WARMCO: #854f6c;
    --XLIGHTCO: #DFB6B2;
    --LIGHTCO: #fbe4d8;
    --SLIGHTCO: whitesmoke;
    --HIGHLIGHT: #ff4500;
    --BPGRADIENT: #fbc2eb, #a2d4f1;

    /* FONT */
    --FS-XXL: clamp(3rem, 6vh, 5rem);
    --FS-XL: clamp(2.25rem, 4vh, 3rem);
    --FS: clamp(18px, 3vh, 2.25rem);
    --FS-SM: clamp(15, 2vh, 1.5rem);
    --FF: berkshire swash, cursive, sans-serif;
    --HFF: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* || UTILITY CLASS */
.nobreak {
    white-space: nowrap;
}

.clip {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(360deg, var(--WARMCO), var(--DARKCO));
    color: hsla(0, 0%, 0%, 0.2);
}

.hover {
    cursor: pointer;
}

/* || GENERAL STYLE */

body {
    background-image: linear-gradient(180deg, var(--BPGRADIENT));
    background-repeat: none;
    background-size: cover;
    font-family: berkshire swash, cursive, sans-serif;
}

/* GO TO TOP BUTTON */
.to-top {
    background-color: var(--HIGHLIGHT);
    bottom: 20px;
    display: grid;
    height: 80px;
    place-content: center;
    position: fixed;
    right: 0;
    width: 80px;
    z-index: 5;
}

.to-top h1 {
    display: inline-block;
    font-size: 60px;

}

.topArrow {
    color: var(--SLIGHTCO);
}

/* FAQ STYLE */
main {
    display: grid;
    grid-template-columns: 50% 50%;
}


.logo {
    margin-top: 3%;
    text-align: center;
    color: #190019;
}

.question,
.online {
    font-size: 18px;
    border-bottom: 3px groove #190019;
    padding: 36px 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    width: 35vw;
    overflow: hidden;
}

summary h1 {
    text-align: center;
    color: var(--HIGHLIGHT);
    position: relative;
}

section p {
    margin-top: 15px;
    text-align: justify;
}

section h3::before,
summary h1::before {
    content: "+";
    display: inline-block;
}

details summary {
    list-style-type: none;
}


form {
    border: 10px double #190019;
    padding: 26px 50px;
    margin: 3% auto;
    width: 60%;
    height: 30%;
    background-color: hsl(21, 81%, 92%, 30%);
    overflow: hidden;
}

a {
    text-decoration: none;
    padding: 14px;
    color: #190019;
}

.select {
    display: flex;
    margin-bottom: 25px;
}

.select h1 {
    flex: 1;
    text-align: center;
}

.select a {
    color: #fbe4d8;
}

.active {
    border-bottom: #190019 5px solid;
}

.select a:hover {
    background-color: hsl(21, 81%, 92%, 50%);
    color: hsl(266, 62%, 18%);
    border-radius: 5%;
    border-bottom: #190019 5px solid;
    transition: 0.5s;
}

hr {
    border: 2px solid #190019;
}

input[type=email],
input[type=text],
input[type=tel],
select[name=Restaurant],
textarea[name=feedback] {
    margin: 8px 0;
    padding: 16px 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fbe4d8;
    color: #2d124c;
    border-radius: 10px;
}

.name {
    text-align: center;
    padding: 10px;
}

.option {
    color: Yellow;
}

input[type=submit] {
    background-color: #2b124c;
    color: #fbe4d8;
    width: 100%;
    border: none;
    margin: 10px 0;
    padding: 14px 0;
    cursor: pointer;
}

h4 {
    text-align: center;
    padding: 10px auto 0;
}

.nav {
    display: flex;
}

.nav a {
    flex: 1;
    text-align: center;
    padding-top: 0;
}

.nav img {
    width: 50px;
    height: 50px;
}

/* NAVIGATION BAR */

.menu {
    background-color: var(--DARKCO);
    display: flex;
    flex-flow: row nowrap;
    max-height: 5vh;
    min-height: 80px;
    position: sticky;
    top: 0;
    z-index: 5;
}

.menu header {
    flex: 1;
    margin: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.menu header h1 {
    align-self: center;
    color: var(--LIGHTCO);
    display: inline-block;
}

nav,
.login {
    margin: 10px;
    text-transform: uppercase;
}

nav {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

ul li a,
ul p {
    color: var(--SLIGHTCO);
    display: inline-block;
    font-size: var(--FS);
    padding: 1rem;
    text-decoration: none;
}

ul li {
    display: inline-block;
    list-style: none;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: var(--SLIGHTCO);
    font-family: var(--FF);
    font-size: var(--FS);
    text-transform: uppercase;
}

.dropdown {
    display: inline-block;
    padding: 1rem;
    position: relative;
}

.dropdown-content {
    display: none;
    left: 0px;
    min-width: 15vw;
    position: absolute;
    text-transform: none;
    top: 62px;
    z-index: 3;
}

.dropdown-content a {
    background-color: var(--XWARMCO);
    color: var(--LIGHTCO);
    display: block;
    font-size: var(--FS-SM);
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: var(--WARMCO);
    color: var(--SLIGHTCO);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn,
li:hover {
    background-color: var(--XDARKCO);
    border-radius: 5px 5px 0 0;

}

.dropdown:hover,
li:hover {
    border-bottom: var(--BORDER-BOTTOM);
}

#Order {
    background-color: var(--HIGHLIGHT);
    border-radius: 10px 10px 0 0;
}